#startGameButton, #findGameButton, #exitButton, .btn {
    -fx-cursor: hand!important;
}
#startGameButton, #findGameButton {
    -fx-background-color: #7FA650;
}
#startGameButton:hover, #findGameButton:hover {
    -fx-background-color: #95BB4A!important;
}

#exitButton {
    -fx-background-color: #312E2B;
}
#exitButton:hover {
    -fx-background-color: #D23342!important;
}

.btn {
    -fx-background-color: #312E2B;
    -fx-text-fill: #ffffff;
    -fx-start-margin: 20px 0;
}
.btn:hover {
    -fx-background-color: #1B1A18;
}

.mainMenu {
    -fx-background-color: #272522;
}
.mainHeader {
    -fx-background-color: #272522;
    -fx-text-fill: #fff;
    -fx-alignment: center;
}